{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} — Game{% endblock %}

{% block js %}
{{ parent() }}
<script>
var GAME_STATE_URL = {{ urlFor('game.state', { "id": game.id })|json_encode|raw }};
var GAME_STATE = {{ states|json_encode|raw }};
</script>
<script src="/assets/js/game.js"></script>
{% endblock %}

{% block content %}
  <p>
    Hello! You are logged in as {{ user.getEmail() }}. <a href="{{ urlFor('logout.process') }}">Log out</a>.
  </p>
  <div id="game">
    <ul>
      <li>{{ game.id }}</li>
    </ul>
  </div>
{% endblock %}
