{% extends 'layout.html.twig' %}
{% block css %}
{{ parent() }}
    <link href="/assets/css/canvasStyle.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block title %}{{ parent() }} — Game{% endblock %}

{% block js %}
{{ parent() }}
<script>
(function () {
  'use strict';
  var Battleship = window.Battleship = {};
  Battleship.url = {
    state: {{ urlFor('game.state', { "id": game.id })|json_encode|raw }},
    placeShip: {{ urlFor('games.place-ship', { "id": game.id })|json_encode|raw }},
    ready: {{ urlFor('game.ready', { "id": game.id })|json_encode|raw }},
    hit: {{ urlFor('game.hit', { "id": game.id })|json_encode|raw }},
  };
  Battleship.gameState = {{ states|json_encode|raw }};
}());
</script>
<script src="/assets/js/polling.js"></script>
<script src="/assets/js/api.js"></script>
<script src="/assets/js/async.js"></script>
<script src="/assets/js/battleship.js"></script>
<script src="/assets/js/game.js"></script>
{% endblock %}

{% block content %}
  <div id="game" class="{{ opponent is empty ? 'no-opponent' : 'has-opponent' }}">
    <div id="wait-opponent-message" class="alert-box notice"><span>notice: </span>Be patient, your opponent will come soon !</div>
    <div id="opponent-infos">
      You're playing with <strong id="opponent-name">{{ opponent.getDisplayName() }}</strong>
      <p id="alert-msg"></p>
      <div class="alert-box notice"><span>notice: </span>You can place your boats with drag & drop. If you want to change the orientation, click <strong>right</strong> with the mouse <strong>on</strong> the boat !<br/> When you've placed them all, click on the <strong>"Ready"</strong> button.</div>
      <button id="btnReady">Ready</button>
    </div>
  </div>
  <canvas id="cvsPlayer"></canvas>
  <canvas id="cvsEnemy"></canvas>
{% endblock %}
