{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} — List{% endblock %}

{% block content %}
  <p>
    Hello! You are logged in as {{ user.getEmail() }}. <a href="{{ urlFor('logout.process') }}">Log out</a>.
  </p>
  <div id="games">
  {% if games is empty %}
    <p>There is no game. You should create one!</p>
  {% else %}
    <ul>
    {% for game in games %}
      <li>
        <a href="{{ urlFor('game', {"id": game.id}) }}">Join!</a>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>
  <div id="game-creation">
    {% if flash.error is defined %}
      <p class="error">
        {{ flash.error }}
      </p>
    {% endif %}
    <form method="post" action="{{ urlFor('games.create') }}">
      <button type="submit">Create a new game!</button>
    </form>
  </div>
{% endblock %}
