{% extends 'layout.html.twig' %}
{% block css %}
{{ parent() }}
    <link href="/assets/css/canvasStyle.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block title %}{{ parent() }} — Game{% endblock %}

{% block js %}
{{ parent() }}
<script>
var GAME_STATE_URL = {{ urlFor('game.state', { "id": game.id })|json_encode|raw }};
var GAME_STATE = {{ states|json_encode|raw }};
</script>
<script src="/assets/js/polling.js"></script>
<script src="/assets/js/game.js"></script>
{% endblock %}

{% block content %}
  <div id="game">
    {% if opponent is empty %}
      <p>Be patient, your opponent will come soon !</p>
    {% else %}
      <p>
        You're playing with <strong>{{ opponent.getDisplayName() }}</strong>
        <button id="btnReady">Ready</button>
      </p>
    {% endif %}
  </div>
  <canvas id="cvsPlayer"></canvas>
  <canvas id="cvsEnemy"></canvas>
{% endblock %}
