{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} — Top 10{% endblock %}
{% block css %}
{{ parent() }}
<link href="/assets/css/topTen.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block content %}
  <div id="top">
  {% if top_ten is empty %}
  <div class="alert-box notice"><span>notice: </span>Currently, there is no top 10, let's play to be the best !</div>
  {% else %}
  <div class="topTen" >
    <table style="">
        <tr>
          <td></td>
          <td>Player</td>
          <td>Victories</td>
        </tr>
      {% for user in top_ten %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{user.display_name}}</td>
          <td>{{user.victories}}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  </div>
{% endblock %}
