{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} — Top 10{% endblock %}
{% block css %}
{{ parent() }}

{% endblock %}
{% block content %}
  <div id="top">
  {% if top_ten is empty %}
  <div class="alert-box notice"><span>notice: </span>Currently, there is no top 10, let's play to be the best !</div>
  {% else %}
    <table style="">
      <thead>
        <tr>
          <th></th>
          <th>Player</th>
          <th>Victories</th>
        </tr>
      </thead>
      <tbody>
      {% for user in top_ten %}
        <tr>
          <td>{{ loop.index }}</td>
          <td>{{user.display_name}}</td>
          <td>{{user.victories}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
  </div>
{% endblock %}
